/* ヘッダー画像の設定 */
.header-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img input {
    position: absolute;
    left: 100px;
}

.header-img img {
    margin-left: auto;
    margin-right: auto;
}

/* 全体の画像コンテナ */
.img-container-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.img-container {
    display: flex;
    transition: transform 0.3s ease;
    overflow: hidden;
}


.img-slide {
    flex-shrink: 0;
    width: 20%;
    height: 200px;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
}

.img-slide img {
    width: 100%;
    height: 150px;
    display: block;
    object-fit: cover;
}

.img-slide p {
    margin-top: 5px;
    font-size: 14px;
}

.Arrow {
    position: absolute;
    top: 50%;
    transform:translateX(-50%);
    z-index: 10;
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
}

.Arrow.left {
    left: 10px;
}

.Arrow.right {
    right: 10px;
}

.h2 {
    margin: 20px 50px;
}
