.header-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-img input{
    position: absolute;
    left: 100px;
}
.header-img img{
    margin-left: auto;
    margin-right: auto;
}
.img-container {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.img-container img {
    width: 500px;
    display: block;
    margin-right: 15px;
    transition: transform 0.3s ease;
}
.img-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}
.img-container p {
    margin: 0;
}
#next_img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}
.h2 {
    left: 50px;
}