/* ヘッダー画像の設定 */
.header-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img input {
    position: absolute;
    left: 100px;
}

.header-img img {
    margin-left: auto;
    margin-right: auto;
}

/* 画像を横並びにするための設定 */
.img-container {
    display: flex;
    justify-content: flex-start; /* 横並び */
    width: 100%;
    position: relative;
    overflow: hidden; /* 横スクロールを防ぐ */
}

.img-container img {
    width: 20%; /* 画像の幅を20%に設定（5枚並べるため） */
    display: block;
    margin-right: 15px; /* 画像間のギャップ */
    transition: transform 0.3s ease;
}

.img-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* スライドの際に画像がはみ出さないようにする */
}

.img-container p {
    margin: 0;
}

/* 次の画像ボタンの設定 */
#next_img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.h2 {
    left: 50px;
}
