#center-img{
    display: block;
    margin: auto; 
}
.p-center{
    text-align: center;
}
.radio-center{
    display: flex;
    justify-content: center;
}
.textbox{
    display: block;
    margin: auto;
}

